<h1>About page</h1>
<p><%=link_to "One Month Rails","http://onemonthrails.com"%>
is a project to teach
<%=link_to "Ruby on Rails","http://rubyonrails.org"%>
in one month</p>
<p>I personally consider it a nice little course, even for non-programmers.  The instructor,
<%=link_to "Mattan Griffell","http://mattengriffel.com"%>, explains everything that you
need to know very concisely.  He doesn't make any assumptions about what you might already know, and also doesn't over-load you with too
many things at once.  Be aware he does his programming on a Mac, so all the videos are from that perspective. I use linux, so I didn't
have any problem following his command line examples, since both use Unix-based kernels.  Don't know how that would work for a Windows
machine though. I noticed that he uses tabs, which he seems to have issues with in a couple of the videos. I uses spaces myself, so
as not to have to worry about diferent tab expansions in different programs. YMMV.</p>
<p>As is normal with this type of instruction, you'll be pausing the videos frequently.  For the first few videos, everything he types
on-screen is also listed on the page, along with any errata.  This means you can just copy and paste if you want, although I recommend you
actually type it in.  Consider it a coding 'good practice' rule. Later on, you don't have this option, so it won't make any difference.
Exercise those digits.</p>
<p>Some of the things he shows you doesn't really have anything to do with rails, but rather deals with some of the tools that a web
designer uses, or can use, in developing web sites.  In the initial video, he shows you how to get started using
<%=link_to "Github","https://github.com"%>, which is nice.  I think everybody should at least know how github works, even if you don't use
it. He also shows you about <%=link_to "Heroku","http://www.heroku.com"%>, which appears to be mainly for ruby users.  In a later video he
explains about <%=link_to "Bootstrap","http://twitter.github.com/bootstrap"%>, which I highly recommend for those just starting out in web
design.  Any "old-timers" would also benefit from taking a look at it, even if you don't use it.
</p>
<p>Wish I could say some nice things about Rails.  Most of that project seems to be about obfuscation.  And, no, I'm not going to
justify that statement since I've already said enough to start a flame war as it is.<p>
<p>[later]  Okay, maybe I will say something.  If you want to use the MVC methodology, I recommend CodeIgniter for those already
familiar with web design.  I seem to be doing a lot of wordpress stuff lately, which relies heavily on jquery.  Not my personal favorite
for a javascript library, but it works.  Most of time.  Once you learn about the inconsistancies in how it handles DOM objects.
Okay, I'll go away now.</p>
